{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Your birthday</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    </head>
    <body style="background-color: black;">
        <h1 id="tindex">INSIRA AQUI SUA DATA DE ANIVERSÁRIO!!</h1>
        
        <form id="iform" action="isbirth" method="POST">  
            {% csrf_token %}
            {{ form }}
            <input id="ibutton" type="Submit" >  
        </form>
        </body>
</html>
 