{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    </head>
    <body id="bhome">
        <h1 id="h1h">WELCOME</h1>
        <div id="click">
        <a style="color: brown;" href="/birth">click here</a>
        </div>
        <div id="insta">
            <a style="color: white;" href="https://www.instagram.com/invites/contact/?i=1re2csyu0vlq4&utm_content=kszz6zf">
                Follow me on instagram</a>
        </div>
    </body>
</html>
