{% load static %}
<!DOCTYPE html>
<html>    
    {% if day and month %}
        <head>
            <link rel="stylesheet" href="{% static 'css/isbirth.css' %}">
            <title>Congratulations!!</title>
        </head>
        <body>
            <h1> Meus parabéns, aproveite o seu dia!!</h1>
        </body>
    {% else %}
        <head>
            <link rel="stylesheet" href="{% static 'css/notbirth.css' %}">
            <title>Oops!</title>
        </head>
        <body>
            <h1>Hoje não é seu aniversário, mas aproveite o dia mesmo assim!!</h1>
        </body>
    {% endif %}
</html>
