div {
    background-color: red;
}

#tindex {
    font-family: sans-serif;
    color: white;
    padding-top: 15%;
    text-align: center;
}

#iform {
    text-align: center;
    padding-top: 1%;
    color: white;   
}

#ibutton {
    background-color:black;
    border-color: white;
    color: white;
}